<!DOCTYPE html>
<html lang="en">
  <head>
    <title>sb2cal - Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- commenting out so I can try and get Angular to simply work with just HTML
    <link rel="stylesheet" type="text/css" href="style.css">
    -->
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <!-- unsplit the dashes when uncommenting Bootstrap!

        <!- - Latest compiled and minified CSS - ->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!- - jQuery library - ->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <!- - Latest compiled JavaScript - ->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    -->

  
    <script type="text/javascript" src="courses.js"></script>

    <script src="https://apis.google.com/js/api.js"></script>

    <script type="text/javascript" src="api_call.js"></script>
    <script type="text/javascript" src="https://apis.google.com/js/client.js?onload=checkAuth"></script>

    
  </head>

  <body  style="background-color: #AAA" >
    <div class="container-fluid" id="main-container">
    <h1>Schedule Builder to Google Calendar</h1>
    <h3>Works for UC Davis Winter Quarter 2017</h3>
    <div id="instruction-div">
        <p ><strong>Instructions</strong></p>
        <ol>
            <li>Type what you want your calendar called</li>
            <li>Go to <a href="https://my.ucdavis.edu/schedulebuilder/index.cfm?sb" target="_blank">Schedule Builder</a></li>
                <ol type="a">
                    <li>Click "Show (Important) Details" for every single course in your schedule</li>
                    <li>Highlight all of your schedules on the page. Right-click and copy that selection</li>
                    <li>Paste your schedule into the second text box</li>
                </ol>
            
            <li>Click Submit. The next page will give you a chance to edit any of your schedule entries</li>
            <li>Insert Events into Google Calendar! 
                <ol type="a">
                    <li>From there, you can export the calendar if you go to calendar settings again</li>
                    <li>To import, look up "how to import ics files" for your device</li>
                </ol>
        </ol>
        
    </div>

    <div id="authorize-div" style="display: none">
       
        <!--Button for the user to click to initiate auth sequence -->
        <button class="btn btn-default" style="background-color: yellow" style="clear:both;" id="authorize-button" onclick="handleAuthClick(event)">
          <strong>Authorize For Google Account!</strong>
        </button>

    </div>

    <div ng-app="myApp" ng-controller="myCtrl">
        <script src="controller.js"></script>
          
        <input required id="calendar-name" type="text" placeholder="Type a calendar name..." />
        <button onclick="insertCalendar()">Insert calendar</button>

        <br/>

        <textarea name="textArea" id="textArea_id" placeholder="Paste schedule here" ></textarea>
        
        <br/>

        <br/>
        <button ng-click="createTable()" class="btn btn-default" >CREATE TABLE</button>

        <table ng-repeat="course in courseArray">
            <tr>
                <td> {{ course.name_str }} </td>
            </tr>
            <tr ng-repeat="meeting in course.meeting_array">
                <td> <input class="meeting-type" ng-model="meeting.meeting_type"/> </td>
                <td> {{ meeting.start_time }} - {{ meeting.end_time }} </td>
                <td> {{ meeting.location }} </td>
            </tr>

            <td><button ng-click="insertCourse($index)" class="btn btn-default">Insert this course</button></td>
        </table>

        

      
        

    
    </div>
    
    
    <br>
    <br>
    <br>
    <footer> <a href="about.html">About sb2cal.com</a> </footer>


    </div>
  </body>
  </html>
