/* 
Color codes from: http://marketingtoolbox.ucdavis.edu/identity/color.html  
	Blue: #002855  Gold: #C99700 Gray: #B1B3B3
	Light blue: #E5E9EF
	
Positioning: http://www.barelyfitz.com/screencast/html-training/css/positioning/
Tables: http://www.w3schools.com/css/css_table.asp;
*/


body {
	background-color: #AAA;
	color: #002855;
	font-family: "proxima-nova","Lucida Grande","Lucida Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

h1 {
	font-size: 48px;
}

li, p {
	font-size: 24px;
}

div {
	display: block;
}

#main-container {
	margin: auto;
	width: 90%;
	height: 100%;
	background-color: #D0D5DF;
	padding: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px; 
}

#instruction-div {
	background-color: #F9F9F9;
	border-style: solid;
	border-width: 1px;
	width: 95%;
	padding: 5px;
	margin: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px; 
}

ul {
	list-style-type: disc;
}

textarea {
	background-color: #F9F9F9;
	width: 40%; 
	height: 100px;
	margin: 3px;
	border-style: solid;
	border-width: 1px;
	color: #002855;
}

#calendar-id {
	width: 300px;
	height: 20px;
	margin: 3px;
	padding: 1px 5px;
	border-style: solid;
	border-width: 1px;
}

input {
	background-color: #F9F9F9;
	font-size: 18px;
	margin-bottom: 2px;
	border-style: solid;
	border-width: 1px;
	border-color: #002855;

}

input[type=submit], button {
    padding:5px 15px;
	position: relative;
	margin: 3px;
    background:#CCC;
    color: #002855;
	border-style: solid;
	border-color: #002855;
    border-width: 1px;
    cursor:pointer;
    -webkit-border-radius: 3px;
    border-radius: 3px; 
	font-size:20px;
}

table {
	background-color: #D0D5DF;
}