/* 
Color codes from: http://marketingtoolbox.ucdavis.edu/identity/color.html  
	Blue: #002855  Gold: #C99700 Gray: #B1B3B3
	Light blue: #E5E9EF
	
*/
@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');

@keyframes slow-hide {
	from {
		opacity: 1;
	} to {
		opacity: 0;
	}
}

.createCalendar-div.ng-hide {
	animation: 2s slow-hide;
}

.createCalendar-div {
	opacity: 1;
}

body {
	padding: 5px;
	height: 100%;
	background-color: #AAA;
	color: #002855;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-family: 'Lato', sans-serif;
}

a:hover {
	color: #C99700;
}


#main-container {
	margin: auto;
	width: 80%;
	height: 100%;
	position: relative;
	background-color: #D0D5DF;
	padding: 5px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 5px; 

}

#authorize-button {
	margin: 5px;
	margin-bottom: 15px;
}

#google-button {
	margin: 5px;
	margin-bottom: 15px;
	width: 191px;
	height: 46px;
	display: block;
	background: url(google_signin_buttons/normal_small.png) no-repeat;
}

#google-button:hover {
	background: url(google_signin_buttons/focus_small.png) no-repeat;
}

#google-button:active {
	background: url(google_signin_buttons/pressed_small.png) no-repeat;
}

#google-button[disabled] {
	background: url(google_signin_buttons/disabled_small.png) no-repeat;	
}

textarea {
	background-color: #F9F9F9;
	width: 95%; 
	margin: 3px;
	border-style: solid;
	border-width: 0px;
	resize: none;
}

input[disabled] {
	color: #999;
}

input {
	background-color: #F9F9F9;
	width: 95%;
	font-size: 1em;
	margin-bottom: 2px;
	border-style: solid;
	border-width: 0px;
}

input[type=submit], button {
    padding: 5px 15px;
	position: relative;
	margin: 3px;
}


table, th, td, thead, tbody {
	border: 0px solid;
	padding: 4px;

}

thead {
	color: black;
}

#courseTable {
	width: 60%;
	min-height: 175px;
	background-color: #F9F9F9;
	-webkit-border-radius: 6px;
    border-radius: 6px;
    border-collapse: collapse;
	border: 0px solid;
}

#courses-div button {
	margin-bottom: 5px;
}

td input {
	background-color: #FFF;
	border: 1px solid #d1d1d1;
	padding: 1px;
}

tbody tr {
	border-top: 1px solid #ddd;
}


footer {
	margin-top: 40px;
	text-align: right;
	position: relative;
}
